body {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  background: url(images/bg-intro-desktop.png), #ff7a7a;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textSection {
  width: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerText {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.actionButton {
  cursor: pointer;
  border-radius: 10px;
  background-color: #6055a5;
  padding: 16px;
  text-align: center;
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
  width: 534px;
  margin-bottom: 24px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.actionButton:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.formWrapper {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.formInput {
  height: 56px;
  width: 92%;
  border-radius: 6px;
  border: 1px solid #dedede;
  color: #3e3c49;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: none;
  padding-left: 32px;
  margin: 8px 0;
}

.claimButton {
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: #38cc8c;
  border-radius: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px;
  text-align: center;
  border: 1px solid #38cc8c;
  color: white;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-top: 8px;
}

.claimButton:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.termsSection {
  text-align: center;
  font-size: 12px;
  color: #b9b6d3;
}

b {
  font-weight: 500;
}

.redBold {
  font-weight: 700;
  color: #ff7a7a;
  cursor: pointer;
}

.errorImg {
  position: absolute;
  margin: 25px -60px;
}

.errorState {
  border: 2px solid #ff7a7a;
}

.errorMessage {
  color: #ff7a7a;
  font-size: 11px;
  text-align: right;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  body {
    padding: 20px;
  }
  .textSection {
    width: 420px;
    margin-right: 30px;
  }
  .headerText {
    font-size: 45px;
    margin: 0;
    line-height: 45px;
  }
  .actionButton {
    width: auto;
  }
  .errorImg {
    margin: -50px 360px;
  }
}

@media (max-width: 975px) {
  .errorImg {
    margin: -50px 36vw;
  }
}

@media (max-width: 800px) {
  body {
    background: url(images/bg-intro-mobile.png), #ff7a7a;
    background-size: 50%;
    padding: 50px;
    height: auto;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .textSection {
    text-align: center;
    width: auto;
    margin: 0 0 40px 0;
  }
  .headerText {
    margin-bottom: 20px;
  }
  .errorImg {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
    padding: 30px;
  }
  .headerText {
    font-size: 30px;
    line-height: 30px;
  }
  .paragraphText {
    font-size: 14px;
  }
  .formInput {
    width: 87%;
    height: 46px;
    font-size: 12px;
  }
  .claimButton {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 12px;
    padding: 20px;
  }
  main {
    margin-top: 30px;
  }
  .headerText {
    font-size: 25px;
    line-height: 25px;
  }
  .paragraphText {
    font-size: 12px;
  }
  .formInput {
    width: 83%;
    height: 46px;
    font-size: 10px;
  }
  .claimButton {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */
