$font: "Poppins", sans-serif;
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

body {
  font-family: $font;
  color: white;
  font-size: 16px;
  background: url(images/bg-intro-desktop.png), $red;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
main {
  display: flex;
}
.textSection {
  width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerText {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.actionButton {
  cursor: pointer;
  border-radius: 10px;
  background-color: $blue;
  padding: 16px;
  text-align: center;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
  width: 534px;
  margin-bottom: 24px;
  transition: all 1s;
}
.actionButton:hover {
  filter: brightness(115%);
}
.formWrapper {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dedede;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.formInput {
  height: 56px;
  width: 92%;
  border-radius: 6px;
  border: 1px solid #dedede;
  color: $darkBlue;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: none;
  padding-left: 32px;
  margin: 8px 0;
}
.claimButton {
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: $green;
  border-radius: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px;
  text-align: center;
  border: 1px solid $green;
  color: white;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  transition: all 1s;
  margin-top: 8px;
}
.claimButton:hover {
  filter: brightness(110%);
}
.termsSection {
  text-align: center;
  font-size: 12px;
  color: $grayishBlue;
}
b {
  font-weight: 500;
}
.redBold {
  font-weight: 700;
  color: $red;
  cursor: pointer;
}
.errorImg {
  position: absolute;
  margin: 25px -60px;
}
.errorState {
  border: 2px solid $red;
}
.errorMessage {
  color: $red;
  font-size: 11px;
  text-align: right;
}
.hidden {
  display: none;
}
@media (max-width: 1200px) {
  body {
    padding: 20px;
  }
  .textSection {
    width: 420px;
    margin-right: 30px;
  }
  .headerText {
    font-size: 45px;
    margin: 0;
    line-height: 45px;
  }
  .actionButton {
    width: auto;
  }
  .errorImg {
    margin: -50px 360px;
  }
}
@media (max-width: 975px) {
  .errorImg {
    margin: -50px 36vw;
  }
}
@media (max-width: 800px) {
  body {
    background: url(images/bg-intro-mobile.png), $red;
    background-size: 50%;
    padding: 50px;
    height: auto;
  }
  main {
    flex-direction: column;
    justify-content: center;
  }
  .textSection {
    text-align: center;
    width: auto;
    margin: 0 0 40px 0;
  }
  .headerText {
    margin-bottom: 20px;
  }
  .errorImg {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 12px;
    padding: 30px;
  }
  .headerText {
    font-size: 30px;
    line-height: 30px;
  }
  .paragraphText {
    font-size: 14px;
  }
  .formInput {
    width: 87%;
    height: 46px;
    font-size: 12px;
  }
  .claimButton {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 12px;
    padding: 20px;
  }
  main {
    margin-top: 30px;
  }
  .headerText {
    font-size: 25px;
    line-height: 25px;
  }
  .paragraphText {
    font-size: 12px;
  }
  .formInput {
    width: 83%;
    height: 46px;
    font-size: 10px;
  }
  .claimButton {
    font-size: 10px;
  }
}
